<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/r/s/a.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <header id="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Appxery</h1>
                </div>
            </div>
        </header>
        <article id="page-content">
            <div class="row">
                <div class="col-sm-12">
                    @RenderBody()
                </div>
            </div>
        </article>
        <footer id="page-footer">
            <div class="row">
                <div class="col-sm-4 col-offset-8 text-right">
                    <p>Appxery developed by <a href="http://thounsell.co.uk/" target="_blank">Thomas Hounsell</a>.</p>
                    <p>Thanks to <a href="http://bscorp24.blogspot.co.uk/" target="_blank" rel="nofollow">Ahmed Jebara</a> for providing AppX packages.</p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
